@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    display: flex;
    justify-content: center;
    background-image: url(/src/assets/image/backgroundHome.jpg);
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;
}

.home-container {
    text-align: center;
}

.upperCase{
    text-transform: uppercase;
}

.span{
    text-align: left;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}
